body {
    background-color: $background-color;
    color:$headline;
}

a {
    color:$headline;
    text-decoration: none;
    &:hover {
        color:$main-color;
    }
}

h1, h2, h3, h4, h5, h6 {
    margin:0
}